@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Lovelace';
  src: url('/fonts/lovelace.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.carousel {
  pointer-events: none; /* Disable any interaction */
}

.carousel-button {
  pointer-events: auto; /* Enable buttons */
}